@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

body{
    background-color: rgb(20, 20, 20);
    color: grey;
    font-family: 'Orbitron', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.heading{
    padding-bottom: 50px;
}

.fa-youtube{
    transition: 0.3s ease-out;
}

a:hover{
    text-decoration: none;
}

a:hover .fa-youtube{
    transform: rotate(180deg);
}

h1{
    color: grey;
    text-align: center;
    text-transform: capitalize;
    padding-top: 50px;
    padding-bottom: 10px;
}

h2{
    color: aquamarine;
}

h3{
    color: grey;
}

i{
    color: red;
}

.btn-danger{
    border: 2px solid lightcoral;
}

.btn-success{
    border: 2px solid aquamarine;
    transition: 0.3s ease-out;
}

.errors{
    width: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    gap: 10px;
    border-radius: 50px;
    padding: 15px;
    color: lightcoral;
    background-color: rgb(20, 20, 20);
    border: 1px solid lightcoral;
  }

.errors p{
    margin: 0;
}

.success{
    font-size: 20px;
    color: white;
}

.fa-gear{
    color: white;
    transition: 0.3s ease-out;
}

.input-group{
    max-width: 500px;
}

#form input{
    border: 3px solid grey;
    background-color: grey;
}

#form button{
    color: white;
    transition: 0.3s ease-out;
}

#form button:hover{
    background-color: lightcoral;
    transform: scale(1.2);
  }

#form button:hover input{
    transform: scale(1.2);
  }

#form button:hover .fa-gear{
    transform: rotate(360deg);
  }

#download-btn:hover{
    transform: scale(1.4);
  }

.container-md, .input-group{
    text-align: center;
}

.border1{
    border: 2px solid grey;
    background-color: rgb(29, 28, 28);
    margin: auto auto 20px;
    border-radius: 50px;
    width: 50%;
    padding: 20px;
}